.new-goal {
    margin: 2rem;
    text-align: center;
}

.btn {
    background-color: rgb(185, 36, 93);
    color: white;
    border: 0;
    padding: 30px 10px;
    border-radius: 100%;
    margin-left: 1%;
    font-size: 15px;
    cursor: pointer;
}

.txt {
    padding: 0.5%;
    border: 0px;
}